image:
  repository: albertdixon/argocd-applicationset
  tag: arm64-master

args:
  namespace: {{ .Release.Namespace }}

extraArgs:
  - --loglevel=error

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
