groupName: "{{ env `WEBHOOK_GROUP_NAME` }}"

image:
  repository: ghcr.io/moopholo/cert-manager-webhook-dnsimple
  tag: sha-5ff5997

dnsimple:
  existingTokenSecret: true
  tokenSecretName: api-token-dnsimple

clusterIssuer:
  email: "{{ env `WEBHOOK_CLUSTER_ISSUER_EMAIL` }}"
  production:
    enabled: true
  staging:
    enabled: true
