{{ $domainSlug := requiredEnv `DEFAULT_CERTIFICATE_DOMAIN` | replace `.` `-` }}

certificates:
  star-{{ $domainSlug }}:
    secretName: star-{{ $domainSlug }}-tls
    dnsNames:
      - {{ requiredEnv `DEFAULT_CERTIFICATE_DOMAIN` | squote }}
      - {{ requiredEnv `DEFAULT_CERTIFICATE_DOMAIN` | printf "*.%s" | squote }}
    issuerRef:
      kind: ClusterIssuer
      name: {{ requiredEnv `DEFAULT_CERTIFICATE_ISSUER` }}
