---
# Source: sops-secrets-operator/templates/cluster_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sops-operator
  labels:
    app.kubernetes.io/name: sops-secrets-operator
    helm.sh/chart: sops-secrets-operator-0.9.6
    app.kubernetes.io/instance: sops-operator
    app.kubernetes.io/version: "0.3.6"
    app.kubernetes.io/managed-by: Helm
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - secrets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - events.k8s.io
  - ""
  resources:
  - events
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - isindir.github.com
  resources:
  - sopssecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - isindir.github.com
  resources:
  - sopssecrets/finalizers
  verbs:
  - update
- apiGroups:
  - isindir.github.com
  resources:
  - sopssecrets/status
  verbs:
  - get
  - patch
  - update
